1. Keluarkan dan tampilkan menggunakan print semua anggota list pada sel dibawah

In [1]:
#kerjakan soal no.1 pada sel berikut ini
#contoh list = [1,2,3]
#contoh hasil
#1
#2
#3

data_list = ['bandung', 'jakarta', 'semarang', 'palembang']

In [2]:
for data in data_list:
    print(data)

bandung
jakarta
semarang
palembang

2. Keluarkan dan tampilkan menggunakan metode print anggota list dengan tipe numerik dari list pada sel di bawah

In [3]:
#kerjakan soal no.2 pada sel berikut ini
#contoh list = ['a', 1]
#contoh hasil :
#1

data_list_2 = [100, 'makassar', 15.5, True]

In [16]:
for data in data_list_2:
    if (type(data) == type(0)) | (type(data) == type(0.0)) :
        print(data)

100
15.5

3. lakukan pengecekan apakah terdapat angka pada tiap2 anggota list. lalu tampilkan sesuai format yang diminta

In [17]:
#kerjakan soal no.3 pada sel berikut ini
#contoh list = ['ada', 'ganesa10']
#contoh hasil:
#ada tidak memiliki angka
#ganesa10 memiliki angka

data_list_3 = ['asda8asd', 'bandunglautanapi', 'washingt0nDC']

In [49]:

for word in data_list_3:
    check = False
        
    for letter in word:
        for i in range(10):
            if letter == str(i):
                check = True
            
    
    if check == True:
        print("{} memiliki angka".format(word))
    else:
        print("ada tidak memiliki angka")

asda8asd memiliki angka
ada tidak memiliki angka
washingt0nDC memiliki angka

4. keluarkan masing-masing value pada key "nama" dan "nilai" dari dictionary di dalam list pada sel di bawah. lalu masukkan pada list sehingga satu nama & nilai berada dalam satu list. lalu kumpulkan semua list dalam satu list lainnya.

In [50]:
#kerjakan soal no.4 pada sel berikut ini

data_dict = [
    {
        "nama":"budi",
        "nilai": {
            "matematika" : 90,
            "fisika" : 86,
            "biologi" : 90
        }
    },
    {
        "nama":"Nina",
        "nilai": {
            "matematika" : 87,
            "fisika" : 69,
            "biologi" : 78
        }
    },
    {
        "nama":"Rudi",
        "nilai": {
            "matematika" : 88,
            "fisika" : 67,
            "biologi" : 91
        }
    }
]

#hasil yang diharapkan
#hasil = [["budi",90,86,90],["Nina",87,69,78],["Rudi",88,67,91]]

In [87]:

data_hasil = []
for key,value in enumerate(data_dict) :
    temp = []
    
    temp.append(data_dict[key]['nama'])
    temp.append(data_dict[key]['nilai']['matematika'])
    temp.append(data_dict[key]['nilai']['fisika'])
    temp.append(data_dict[key]['nilai']['biologi'])
    
    data_hasil.append(temp)
    
print(data_hasil)

[['budi', 90, 86, 90], ['Nina', 87, 69, 78], ['Rudi', 88, 67, 91]]