### Variable

Variable adalah suatu kuantitas yang nilai dapat diganti ganti

Penamaan variable

x -> penamaan yang benar

_x -> penamaan yang benar

nilai x -> penamaan yang salah

nilai_x -> penamaan yang benar

list -> penamaan yang salah, karena built in python

list_data -> penamaan yang benar

In [1]:
a = 10
b = 5

In [2]:
print(a)
print(b)

10
5

In [3]:
d, c = 10, 5

In [4]:
print(c, d)

5 10

In [5]:
print("nilai c :", c)

nilai c : 5

Tipe data 1. numerik 2. string 3. boolean

TIPE DATA NUMERIK

integer -> 1 ,2 ,3, 4

float -> 1.2 , 1.3 , 1.4

In [6]:
var_a = 10

print(type(var_a))

<class 'int'>

In [7]:
var_b = 5.5

print(type(var_b))

<class 'float'>

In [8]:
hasil = var_a + var_b

print("hasil: ", hasil, "type: ", type(hasil))

hasil:  15.5 type:  <class 'float'>

TIPE DATA STRING

Akan berupa string meskipun berupa angka

In [9]:
var_string_1 = "Andi"

print(type(var_string_1))

<class 'str'>

In [10]:
var_string_2 = "2"

print(type(var_string_2))

<class 'str'>

In [13]:
var_string_2 + str(var_a)

'210'

Inisiasi String

' ' -> membuat nilai pada baris yang sama bertipe string

" " -> membuat nilai pada baris yang sama bertipe string

''' ''' membuat nilai pada baris yang berbeda bertipe string

In [29]:
var_string_3 = "budi's house"

print(type(var_string_3))

<class 'str'>

In [17]:
var_string_4 = 'Anton\'s house'

print(type(var_string_4))

<class 'str'>

In [20]:
var_string_5 = '''

Parapara

paragraph


'''

print(type(var_string_5))
print(var_string_5)

<class 'str'>


Parapara

paragraph

In [25]:
print("Ini adalah formating {0} {1}".format(var_string_1, var_string_2))

Ini adalah formating Andi 2

In [26]:
print("Ini adalah cara print", var_string_1 , var_string_2)

Ini adalah cara print Andi 2

In [30]:
var_string_3.capitalize()

"Budi's house"

TIPE DATA BOOLEAN

true or false

In [34]:
var_g = 10
var_h = 10.0

print(var_g == var_h)

True