1. Lakukan 4 operasi aritmatika pada 2 variabel di bawah (tambah, kurang, kali, bagi), lalu simpan semua hasilnya didalam list dan tampilkan.

var_1 = 10

var_2 = 2

In [5]:
#kerjakan soal no 1 pada sel ini
#keluaran yang diharapkan : [12,8,20,5]

var_1 = 10
var_2 = 2

list_var = [ var_1 + var_2, var_1 - var_2, var_1 * var_2, int(var_1 / var_2)  ]
print(list_var)

[12, 8, 20, 5]

2. Dengan menggunakan index keluarkan nilai dari dua tuple di bawah

a. ('Budi', 'Rani', 'Indah', 'Ilham')

b. (20, 18, 22, 27)

dari tuple a keluarkan Rani, dan dari tuple B keluarkan 22. lalu tampilkan dengan print()

In [3]:
#kerjakan soal no 2 pada sel ini
#keluaran yang diharapkan: "Rani adalah mahasiswi yang berusia 22 tahun"

tuple_a = ('Budi', 'Rani', 'Indah', 'Ilham')
tuple_b = (20,18,22,27)

print("{} adalah mahasiswi yang berusia {} tahun".format(tuple_a[1], tuple_b[2]))

Rani adalah mahasiswi yang berusia 22 tahun

3. Ambil semua value dalam dictionary berikut dan masukkan ke dalam set untuk mengetahui kota mana saja mereka berasal

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}

In [34]:
#kerjakan soal no 3 pada sel ini
#keluaran yang diharapkan: {'bandung','jakarta','semarang','surabaya'}
data_dict = {
    'Rudi':'bandung', 
    'Nina':'jakarta', 
    'Mia':'semarang', 
    'Indah':'bandung', 
    'Salman':'surabaya', 
    'Mikail':'jakarta'
}

data_set = set()

for key,value in data_dict.items():
    data_set.add(value)


print(data_set)

{'semarang', 'surabaya', 'jakarta', 'bandung'}