In [1]:
# Iteration

### FOR

In [3]:
# for [pernyataan]:
# kode kita

list_kode = [
    "bandung",
    "jakarta"
]

for kota in list_kode:
    print(kota)

bandung
jakarta

In [5]:
# list_kode = ['bandung', 'jakarta']
# list_kode = [0,1]

# kota = list_kode[0] = 'bandung'

In [6]:
nama = 'David'

for huruf in nama:
    print(huruf)

D
a
v
i
d

In [7]:
for huruf in nama:
    if huruf != 'd':
        print(huruf)

D
a
v
i

### IN RANGE

In [9]:
# range (start, stop, jump)

for index in range(0,3,1):
    print(index)

0
1
2

In [10]:
### WHILE

In [11]:
# while [pernyataan]:
# kode

nilai = 5

while nilai > 0:
    print(nilai)
    
    nilai -= 1

5
4
3
2
1

In [18]:
nilai = 5

while nilai > 0:
    print(nilai)
    nilai -= 1

else:
    print('Selesai')

5
4
3
2
1
Selesai

In [19]:
### PASS CONTINUE BREAK

In [20]:
for i in range(3):
    if i == 1:
        pass
    print(i)

0
1
2

In [21]:
for i in range(3):
    if i == 1:
        continue
    print(i)

0
2

In [23]:
for i in range(3):
    if i == 1:
        break
    print(i)

0