In [2]:
# QUIZ

In [3]:
# 1
print( (1,2) + (3,4) )

(1, 2, 3, 4)

In [4]:
# 2
# mendeklarasikan nilai 100 pada variabel x

x = 100

In [7]:
# 3
# Pada python, sebuah variabel harus dideklarasikan sebelum dapat diberikan nila

False

False

In [10]:
# 4
# Manakah operator perhitungan yang tidak valid pada python

print( 1 * 2 )
print( 1 ** 2 )
print( 1 \ 2 )
print( 1 % 2 )

SyntaxError: unexpected character after line continuation character (Temp/ipykernel_14032/2170380938.py, line 6)

In [11]:
# 5
# Untuk melakukan pengulangan dengan jumlah yang tentu maka menggunakan

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
# 6
if (1,2): 
print("foo")

IndentationError: expected an indented block (Temp/ipykernel_14032/3845030436.py, line 3)

In [17]:
# 7
# Pada python tipe data integer dapat didefinisikan sebagai

# bulat

In [23]:
# 8
# Misalkan sebuah tuple dengan nama test memiliki 5 anggota. Bagaimana kita memasukkan 'python' sebagai anggota pada index ke-3


test = (1,2,3,4,5)
test[3] = 'Python'

TypeError: 'tuple' object does not support item assignment

In [24]:
# 9

# Tipe data apa yang dipakai untuk menyimpan data nomer telepon (menggunakan angka bukan kode negara [+62])

# string

In [32]:
# 10

s = 'foobar'
# nilai yang berbeda

# a
print(s[::-1][-1]  + s[len(s)-1])

# b
print(s[::-1][::-5])

# c
print(s[::-5])

# d
print(s[::5])

fr
fr
rf
fr

In [37]:
# 11
if 'bar' in {'foo': 1, 'bar': 2, 'baz':3}:
    print(1)
    print(2)
    
    if 'a' in 'qux':
        print(3)
    
print(4)

1
2
4

In [46]:
# 12

s = 0

for d in range(0, 5, 0.1 ):
    s += d
    
print(s)

TypeError: 'float' object cannot be interpreted as an integer

In [48]:
# 13
for num in range(1,6):
    print('Sanber')

Sanber
Sanber
Sanber
Sanber
Sanber

In [50]:
# 14

num =14

if num < 15:
    print(15)
    
if num < 20:
    print(20)

15
20

In [55]:
# 15
language = ['p','y','t','h','o','n']
print(language[:-4])

['p', 'y']

In [58]:
# 16
s = 'this'
print(s * 2)

thisthis

In [59]:
# 17

m = 300
n = m
m = m - 30

print(n)

300

In [63]:
# 18

# Bagaimana kamu akan mengubah
# num = {‘one’: 1, ‘two’: 3}
# menjadi
# num = {‘one’: 1, ‘two’: 2}

num = {'one': 1, 'two': 3}
num['two'] = 2

num

{'one': 1, 'two': 2}

In [65]:
# 19

# jumlahkaryawan = 431
# jumlahKaryawan = 431
# Apakah dua pernyataan tersebut mengarah pada variabel yang sama?

jumlahkaryawan = 431
jumlahKaryawan = 431

False

False

In [68]:
# 20

# Mana yang merupakan variabel yang valid pada python

route666 = ''

In [77]:
# 21

# Pernyataan mana yang digunakan untuk mengecek jika nilai a sama dengan nilai b

a = 1
b = 2

if a == b:
    pass

In [83]:
# 22
# Mana yang tidak termasuk metode pada string

thisIsString = 'string'

thisIsString.isalpha()
thisIsString.isdigit()
# thisIsString.translate(1)
# thisIsString.maketrans()

False

In [87]:
# 23

names = "{1} {2} and {0}".format('John', 'Bill', 'Sean')
names

'Bill Sean and John'

In [89]:
# 24
d = {
    'foo': 1,
    'bar': 2,
    'baz': 3
}

while d :
    print(d.popitem())
    
print("Done")

('baz', 3)
('bar', 2)
('foo', 1)
Done

In [ ]:
# 25

# Pada python tipe data float dapat didefinisikan sebagai

# bilangan dengan koma