Function 

suatu kumpulan pernyataan atau kode yang dibagi kedalam suatu blok.

In [1]:
def nama_fungsi(parameter):
    pass

In [2]:
def hello_world():
    print('Hello World!')

In [3]:
hello_world()

Hello World!

## Jenis Fungsi

In [5]:
# fungsi pass
def fungsi_1():
    pass

In [6]:
# fungsi tanpa return
def hello_world():
    print('Zaa Warudo')

In [7]:
# fungsi return
def pangkat(nilai):
    return nilai ** 2

pangkat(3)

9

## Parameter pada fungsi

In [8]:
# Default Parameter
def fungsi_2(nilai_1 = 1, nilai_2 = 2):
    return nilai_1 + nilai_2

fungsi_2()

3

In [9]:
# Keyword parameter
def fungsi_3(nama):
    print(nama)
    
fungsi_3(nama='Geraldi Theo')

Geraldi Theo

In [10]:
# Arbitary Paramater

In [11]:
## args (tuple)
def fungsi_4(*nama):
    for item in nama:
        print(item)

fungsi_4('Geraldu', 'Theodore', 'Roosevelet')

Geraldu
Theodore
Roosevelet

In [12]:
## kwargs (dictionary)
def fungsi_5(**nama):
    for key,value in nama.items():
        print(key, value)

fungsi_5(nama='Geraldi', umur=22)

nama Geraldi
umur 22

## Fungsi Anonymus

In [15]:
# lambda argument: kode/pernyataan

kali_2 = lambda x: x * 2
kali_2(2)

4

In [16]:
# fungsi map
data = [1,2,3,4]

def kali_3(nilai):
    return nilai * 3

hasil = list(map(kali_3, data))
hasil

[3, 6, 9, 12]

In [17]:
# fungsi map use lambda
data = [2,3,4,5]

hasil = list(map(lambda x: x*3, data))
hasil

[6, 9, 12, 15]

In [45]:
def aggregate(nilai_1 = 0, nilai_2 = 0):
    a = nilai_1 + nilai_2
    b = nilai_1 - nilai_2
    c = nilai_1 * nilai_2
    d = nilai_1 / nilai_2
    
    return a,b,c,d
    
result = aggregate(nilai_2=10, nilai_1=11)
result

(21, 1, 110, 1.1)

TypeError: can only concatenate list (not "int") to list